
body {
  font-family: "montserrat";
}

#title{
  background-color: #ff4c68;
  color: #fff;
}
.container-fluid {
  padding: 3% 15%;
}
h1{
  font-family: "montserrat-black";
  font-size: 3.5rem;
  line-height: 1.5;
}
h2 {
  font-family: "Montserrat-Bold";
  font-size: 3rem;
  line-height: 1.5;
}
h3 {
 font-family: "Montserrat-bold";
 font-size: 1.5rem;
}
p {
  color: #8f8f8f;
}
    /* navigaton bar */

.navbar {
  padding-bottom: 0 0 4.5rem;
}

    .navbar-brand{
      font-family: "Ubuntu";
      font-size: 2rem;
      font-weight: bold;
    }
    .nav-item {
      padding: 0 18px;
    }
    .nav-links {
      font-family: "montserrat-light"
    }
       /* download buttons */

    .download-button {
      margin: 5% 3% 5% 0;
    }

    /* title image */

.title-image {
  width: 60%;
  transform: rotate(25deg);
}

/* section features */

#features {
  padding : 7% 15%;
}
.feature-box {
  text-align: center;
  padding: 4.5%;
}
.faicon {
  color: #ef8172;
  margin-bottom: 1rem;
}
.faicon:hover {
  color: #ff4c68;
}

/* section Testimonials */
#testimonials {
  background-color: #ff4c68;
}
.carousel-inner {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* section press */
#press {
  background-color: #ff4c68;
  text-align: center;
  padding-bottom: 3%
}
.press-logo {
  width: 15%
  margin: 20px 20px 50px;
}
